<!DOCTYPE html>
<html lang="pt-BR">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Skrillex</title>
     <link rel="stylesheet" href="css codes/skrillex.css">
     <link rel="icon" href="img/skrillex.png">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
</head>
<style>
     .with-padding {
        padding-left: 15px;
        padding-right: 15px;
     }
</style>
<body>
     <header>
     <div class="with-padding">
        <img src="img/skrillex.jpg" width="150px" height="150px">
     </div>
     </header>
     <section id="biografia">
     <h2>B I O G R A F I A</h2>
     <br>
     <br>
     <br>
     <div class="with-padding">
         <u1>SONNY JOHN MOORE, MAIS CONHECIDO PELO NOME ARTÍSTICO SKRILLEX, É UM DJ, <br>PRODUTOR MUSICAL, CANTOR E COMPOSITOR NORTE AMERICANO.</u1>
     </div>
     </section>
     <section id="discografia">
     <h2>D I S C O G R A F I A</h2>
     <br>
     <br>
     <br>
     <br>
     <div class="with-padding">
     <article class="album">
         <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7tWP3OG5dWphctKg4NMACt?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
     </article>
     <br>
     <br>
     <br>
     <article class="album">
         <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5XJ2NeBxZP3HFM8VoBQEUe?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
     </article>
     <br>
     <br>
     <br>
     <article class="album">
         <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7rf1qZJ6hGSlPN7K9ShsVV?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
     </div>
     </article>
     <br>
     <br>
     <br>
     </section>
     <section id="turnes">
     <h2>T U R N E S</h2>
     <br>
     <br>
     <br>
     <div class="with-padding">
         <u1>AUCKLAND<br>22/09/23</u1>
         <br>
         <br>
         <u1>BRISBANE, AUSTRÁLIA<br>23/09/23</u1>
         <br>
         <br>
         <u1>JOONDALUP, AUSTRÁLIA<br>24/09/23</u1>
         <br>
         <br>
         <u1>FINNS BEACH CLUB<br>BALI, INDONÉSIA<br>12/05/23</u1>
         <br>
         <br>
         <u1>MELBOURNE, AUSTRÁLIA<br>29/09/23</u1>
         <br>
         <br>
         <u1>SYDNEY, AUSTRÁLIA<br>30/09/23</u1>
         <br>
         <br>
         <u1>AUCKLAND, NOVA ZELÂNDIA<br>01/10/23</u1>
         <br>
         <br>
         <u1>PORTOLA MUSIC FESTIVAL<br>São Francisco, CA<br>01/10/23</u1>
         <br>
         <br>
         <u1>III POINTS FESTIVAL<br>MIAMI, FL<br>20/10/23</u1>
         <br>
         <br>
         <u1>HIJINX<br>FILADÉLFIA, PA<br>29/12/23</u1>
         <br>
         <br>
         <u1>LIGHTS ALL NIGHT<br>DALLAS, TX<br>30/12/23</u1>
     </div>
     </section>
     <section class="contato">
     <h2>C O N T A T E - M E</h2>
     <br>
     <form>
         <label for="nome">NOME:</label>
         <input type="text" id="nome" name="nome">
    
         <label for="email">E-MAIL:</label>
         <input type="email" id="email" name="email">
    
         <label for="mensagem">MENSAGEM:</label>
         <textarea id="mensagem" name="mensagem"></textarea>
    
         <input type="submit" value="ENVIAR">
     </form>
     </section>
     <br>
     <br>
     <footer>
     <div class="with-padding">
         <a href="https://www.facebook.com/skrillex">FACEBOOK</a>
         <a href="https://twitter.com/Skrillex">TWITTER</a>
         <a href="https://www.instagram.com/skrillex">INSTAGRAM</a>
     </div>
     </footer>
</body>
</html>