<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skrillex</title>
</head>
<body>
    <h2>DISCOGRAFIA</h2>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7tWP3OG5dWphctKg4NMACt?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <br>
    <br>
    <br>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5XJ2NeBxZP3HFM8VoBQEUe?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <br>
    <br>
    <br>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/7rf1qZJ6hGSlPN7K9ShsVV?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <br>
    <br>
    <br>
    <a href="{{url_for('biografia')}}">BIOGRAFIA</a>
    <a href="{{url_for('turnes')}}">TURNÊS</a>
</body>
</html>