<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skrillex</title>
</head>
<body>
    <h2>REDES SOCIAIS</h2>
    <a href="https://www.facebook.com/skrillex">FACEBOOK</a>
    <a href="https://twitter.com/Skrillex">TWITTER</a>
    <a href="https://www.instagram.com/skrillex">INSTAGRAM</a>
<a href="{{url_for('contato')}}">CONTATO</a>
<a href="{{url_for('home')}}">PÁGINA INICIAL</a>
</body>
</html>