@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: .1rem 1rem;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .14);
    position: fixed;
    width: 96%;
    z-index: 9;
}

article {
    width: 47%;
    min-width: 500px;
    text-align: center;
}

article a {
    display: flex;
    align-items: center;
    justify-content: center;
}

article img {
    display: block;
    align-items: center;
    justify-content: center;
}

.header-logo {
    width: 100px;
    height: auto;
}

.header-nav {
    width: 30%;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-nav-item {
    list-style: none;
    margin-right: 1rem;
}

.header-nav-item a {
    text-decoration: none;
    color: #008fd5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

.header-nav-item a:hover {
    color: #58b946;
}

.congresso {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 10%;
    width: 80%;
}

.congresso img {
    display: block;
    width: 37%;
    min-width: 400px;
}

.congresso a {
    color: white;
}

.congresso-texto {
    width: 47%;
    min-width: 500px;
}

.congresso-texto a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.congresso-texto p {
    text-align: center;
}

.congresso-texto img {
    display: block;
    align-items: center;
    justify-content: center;
}

.congresso h1 {
    color: #58b946;
    font-family: 'Fraunces', serif;
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.congresso h2 {
    color: #008fd5;
    font-family: 'Fraunces', serif;
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.congresso p {
    color: #008fd5;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    margin-bottom: 1rem;
}

.congresso p span {
    font-family: 'Fraunces', serif;
    font-size: 20px;
}

.contato {
    color: #008fd5;
    font-family: 'Fraunces', serif;
    padding: 20px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.contato form {
    display: flex; 
    flex-direction: column; 
}

.contato label, .contato input, .contato textarea {
    margin-bottom: 10px; 
}

.contato h1 {
    color: #58b946;
    font-family: 'Fraunces', serif;
    font-size: 24px;
    margin-bottom: 1.5rem;
}

.contato p span {
    font-family: 'Fraunces', serif;
    font-size: 20px;
}

footer {
    background: white;
    display: block;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-logo {
    width: 1%;
    height: auto;
    flex-grow: 1;
}

.footer-nav {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav li {
    margin: 1rem 0;
}

.footer-nav li a {
    color: #58b946;
}

.footer-nav li a:hover {
    color: #008fd5;
}

.footer-nav a {
    margin-top: 2rem;
}

.cr {
    color: #58b946;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    padding: 1rem 0 2rem 0;
}
