<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skrillex</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/skrillex.css')}}">
    <link rel="icon" href="{{url_for('static', filename='img/skrillex.png')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
</head>
<style>
    .with-padding {
       padding-left: 15px;
       padding-right: 15px;
    }
</style>
<body>
    <header>
        <div class="with-padding">
            <img src="{{url_for('static', filename='img/skrillex.jpg')}}" width="150px" height="150px">
        </div>
    </header>
    <footer>
        <div class="with-padding">
            <a href="https://www.facebook.com/skrillex">FACEBOOK</a>
            <a href="https://twitter.com/Skrillex">TWITTER</a>
            <a href="https://www.instagram.com/skrillex">INSTAGRAM</a>
        </div>
    </footer>
    <br>
    <br>
    <br>
    <section id="dir">
        <a href="{{url_for('contato')}}">CONTATO</a>
        <a href="{{url_for('home')}}">PÁGINA INICIAL</a>
    </section>
</body>
</html>